
<h1>All users</h1>

<p>
  Note: Do we even want a index page where to see all users? Perhaps useful for searching users.
<p>


<!-- # <%#= search_form_for @q do |f| %>
#   <p>
#     <%#= f.label :username_cont %>
#     <%#= f.text_field :username_cont %>
#     <%#= f.submit %>
#   </p>
# <%# end %> -->

<ul>
  <% @users.each do |user| %>
    <li>
      Username: <%= link_to user.username, user %>
      Location: <%= user.location %> 
      <%= image_tag user.profile_pic.thumb.url %>
    </li>
  <% end %>
</ul>
