<h1>Best Cheerupers</h1>

<% @best_cheerupers.each do |user| %>
  <div class="cheeruper">
    <div class="username">
      <%= link_to user.username, user %>
    </div>
    
    <div class="rating">  
      <%= link_to("Rating:", user) %>
      <%= link_to(user.rating, user) %>
    </div> 
  </div>
<% end %>
