<div id="best_cheerups">
  <%= render partial: "best_cheerups" %>
</div>

<div id="featured_cheerup">
  <%= render partial: "featured_cheerup" %>
</div>

<div id="best_cheerupers">
    <%= render partial: "best_cheerupers" %>
</div>
