<div id="new_cheerups">
  <%= render partial: "new_cheerups" %>
</div>

<div id="sidebar">
  <div id="best_cheerups">
    <%= render partial: "best_cheerups" %>
  </div>

  <div id="best_cheerupers">
    <%= render partial: "best_cheerupers" %>
  </div>
</div>
