
<div>
  <p>Username:<%= @cheerup.user.username %></p>
</div>

<%= render @cheerup %>



<% if can? :update, @cheerup %>
  <p><%= link_to 'Edit Cheerup', edit_cheerup_path(@cheerup) %></p>
<% end %> 


<p><%= link_to 'Back', root_path %></p>