<main class="show">

<p>Username:<%= @cheerup.user.username %></p>

<div id="show">
    <%= render partial: "/cheerups/cheerup", locals: { type: "feature", cheerup: @cheerup } %>
</div>

<% if can? :update, @cheerup %>
   
  <p>
    <%= link_to 'Delete Cheerup', @cheerup, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<p><%= link_to 'Back', root_path %></p>

</main>