$image-size: 161px;
$image-frame-color: #EDEEEF;

section.thumb {
  display: inline-block;
  width: $image-size * 1.1;
  height: $image-size * 1.3;

  & div.display {
  text-align: center;
  padding-top: $image-size * 0.05;
  /*padding-bottom: $image-size * 0.18;*/
  border: 1px solid #222222;
  border-radius: $image-size * .02;
  background-color: $image-frame-color;
  margin-left: 10px;

  &:hover {
    opacity: 1.0;
  }

  & img#thumb_image {
    border: 1px solid #222222;

  }
  & div#hearts {
    width: $image-size * 0.3;
    height: $image-size * 0.15;
    margin-top: $image-size * 0.03;
    display: inline-block;
    & p {
      display: block;
      float: left;
      line-height: $image-size * 0.12;
      font-size: $image-size * 0.05;
      margin-left: $image-size * .0.15;
    }
  & input.heart {
    background-image: url('/assets/dark_red_heart.png');
    background-size: $image-size * 0.12;
    height: $image-size * 0.14;
    width: $image-size * 0.14;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: background-image 1s;
    transition: background-size 1s;
    
    &:hover {
      background-image: url('/assets/light_red_heart.png');
      background-size: $image-size * 0.14;
      transition: background-image 1s;
      transition: background-size 1s;
    }
  }  
  }
}

& input.flag {
  background-image: none;
  background-color: transparent;
  text-decoration: underline;
  width: 120px;
  height: 20px;
  text-shadow: none;
  float: right;
  margin-right: $image-size * 0.02;
  margin-bottom: $image-size * 0.04;
  font-size: $image-size * 0.02;
}
}