body {
  font-family: Helvetica;
}

header {
  border-bottom: 1px solid black;
  padding: 20px;
}

header {
  color: #FFFB92;
  background-color: #B24D5A;
}
header a {
  text-decoration: none;
  color: #FFFB92;
}
header a:hover {
  color: #B2AF55;
}
footer {
  text-align: center;
}
.main {
  background-color: white;
}

#profile_header {
  z-index: 2;
}

#cover {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 300px;
  z-index: 0;
}

#cover img {
  width: 100%;
}

#chicken_wrap {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.profile-details {
  position: relative;
  right: 50%;
  width: 100%;
  color: black;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.profile-details img {
  max-width: 150px;
  max-height: 150px;
}

#cheerups {
  width: 100%;
  margin-top: 300px;
}

header {
  font-size: 24px;
}

nav li {
  display: inline;
  padding: 10px;
}

.cheerup {
  border: 1px solid black;
  margin: 0px;
  display: inline-block;
}

.cheerup .image {
  width: 200px;
  height: 200px;
}

.rate {
  margin: auto;
  width: 110px;
}

.rate form {
  display: inline-block;
}

.flag, .like {
    width: 50px;
    height: 50px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    border: 0;
}
.flag {
  background-image:url('/assets/flag.jpg');
  background-size:cover;
}
.like {
  background-image:url('/assets/like.jpg');
  background-size:cover;
}

.display:hover, .flag:hover, .like:hover, .cheeruper:hover {
  opacity:0.4;
}

.cheerup a, #featured_cheerup a {
  color: black;
  text-decoration: none;
}

h1, h2, p {
  padding-top: 4px;
  padding-bottom: 10px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
#featured_cheerup {
  display: inline-block;
  width: 640px;
  vertical-align: top;
}
.featured_cheerup_image img{
    width: 400px;
  }
#best_cheerups{
  display: inline-block;
  max-width: 300px;
  margin-bottom: 10px;
  text-align: center;
}
#best_cheerupers{
  display: inline-block;
  max-width: 240px; 
}
.cheeruper {
  border: 1px solid black;
  text-align: center;
}

.previous, .next {
  font-size: 100px;
  display: inline-block;
  vertical-align: middle;
  min-width: 100px;
}


@media (max-width: 480px) {
  nav li {
    display: block;
    padding: 4px;
  }
  header, .main {
    border: 0;
    margin: 0px;
    padding: 10px;
  }
  #featured_cheerup, .featured_cheerup_image img{
    width: 200px;
  }
}
