body {
  font-family: Helvetica;
  background-color: white;
}

nav {
  width: 100%;
}

.menu-left {
  text-align: left;
  float: left;
  width: 180px;
}

#menu-center {
  text-align: center;
  margin-left: 160px;
  margin-right: 290px;
}

#menu-right img {
  border-radius: 5px;
}

#menu-right {
  text-align: right;
  float: right;
  /*width: 280px;*/
}

#profile_thumb img {
  vertical-align: top;
}
#cheerup_logo {
  vertical-align: middle;
}


#landing-page {
  text-align: center;
}

#landing-page img {
  padding-top: 20px;
  max-height: 700px;
}


.session {
  text-align: center;
}

header {
  /*border-bottom: 1px solid black;*/
  padding: 20px;
  height: 50px;
}

header {
  color: #FFFB92;
  background-color: #CC4556;
}
header a {
  text-decoration: none;
  color: #FFFB92;
}
header a:hover {
  color: #B2AF55;
}
footer {
  text-align: center;
  position:fixed;
   bottom:20px;
   height: 5px;
   width:100%;
}
.main {
  position: relative;
  background-color: white;
}

#profile_header {
  z-index: 2;
}

#cover {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 300px;
  z-index: 0;
}

#cover {
  margin-top: 110px;
}

#cover img {
  width: 100%;
}

#chicken_wrap {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

#chicken_wrap img {
  border-radius: 30px;
}

.profile-details {
  position: relative;
  right: 50%;
  width: 100%;
  color: black;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  margin-top: 50px;
}

.profile-details img {
  max-width: 150px;
  max-height: 150px;
}

#cheerups {
  width: 100%;
  margin-top: 340px;
  padding: 35px;
}

h2#user {
  padding-bottom: 20px;
}

header {
  font-size: 24px;
}

nav li {
  display: inline;
  padding: 10px;
}

.cheerup {
  margin: 0px;
  display: inline-block;
  float: left;
}

.cheerup .image {
  width: 200px;
  height: 200px;
}

.rate {
  margin: auto;
  width: 110px;
}

.rate form {
  display: inline-block;
}

.flag, .like {
    width: 50px;
    height: 50px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    border: 0;
}
.flag {
  background-image:url('/assets/flag.jpg');
  background-size:cover;
}
.like {
  background-image:url('/assets/like.jpg');
  background-size:cover;
}

.display:hover, .flag:hover, .like:hover, .cheeruper:hover {
  opacity:0.4;
}

.cheerup a, .previous a, .next a {
  color: black;
  text-decoration: none;
}

h1, h2, p {
  padding-top: 4px;
  padding-bottom: 10px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
#featured_cheerup {
  margin-top: 20px;
  display: inline-block;
  float: left;
}
#best_cheerups{
  display: inline-block;
  max-width: 240px;
  margin-top: 20px;
  text-align: center;
  float: left;
}
#best_cheerupers{
  display: inline-block;
  max-width: 240px;
  margin-right: 10px;
  margin-top: 20px;
  float: right; 
}
.cheeruper {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.previous, .next {
  font-size: 100px;
  display: inline-block;
  min-width: 100px;
  margin-top: 300px;
}

.previous {
  float: left;
}
.next {
  float: right;
}

