body {
  font-family: Helvetica;
  background-color: #9BF57B;
}

header, .main {
  border: 1px solid black;
  background-color: white;
  margin: 10px;
  padding: 20px;
}

header {
  font-size: 24px;
}

nav li {
  display: inline;
  padding: 10px;
}

.main {
  margin: 20px auto;
  max-width: 960px;
}
.cheerup {
  border: 1px solid black;
  margin: 0px;
  display: inline-block;
}

.cheerup .image {
  width: 200px;
  height: 200px;
}

.rate {
  margin: auto;
  width: 110px;
}

.rate form {
  display: inline-block;
}

.flag, .like {
    width: 50px;
    height: 50px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    border: 0;
}
.flag {
  background-image:url('/assets/flag.jpg');
  background-size:cover;
}
.like {
  background-image:url('/assets/like.jpg');
  background-size:cover;
}

.display:hover, .flag:hover, .like:hover, .cheeruper:hover {
  opacity:0.4;
}

.display a {
  color: black;
  text-decoration: none;
}

.message
{
  position:relative;
  top:150px;
  padding: 10px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

h1, h2, p {
  padding-top: 4px;
  padding-bottom: 10px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
#featured_cheerup {
  display: inline-block;
  width: 640px;
  vertical-align: top;
  border: 1px dotted black;
}
.featured_cheerup_image img{
    width: 400px;
  }
#best_cheerups{
  display: inline-block;
  max-width: 300px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}
#best_cheerupers{
  display: inline-block;
  max-width: 240px; 
  padding: 10px;
}
#sidebar {
  display: inline-block;
  max-width: 240px;
  text-align: right;
  border: 1px dotted black; 
}
.cheeruper {
  margin: 6px;
  border: 1px solid black;
  text-align: center;
}

.previous, .next {
  font-size: 100px;
  display: inline-block;
  vertical-align: middle;
  border: 1px dotted black;
}


@media (max-width: 480px) {
  nav li {
    display: block;
    padding: 4px;
  }
  header, .main {
    border: 0;
    margin: 0px;
    padding: 10px;
  }
  #featured_cheerup, .featured_cheerup_image img{
    width: 200px;
  }
}