<!DOCTYPE html>
<html>
<head>
  <title>CheerupApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>testing git</p>

<%= yield %>

</body>
</html>
